@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1400px;
  position: relative;
  z-index: -1;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img{
    height: 38vw;
}

/* nav bar design css*/

.h3{
  margin-top: 100px;
}

header{
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
  }


.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: grey;
    border-radius: 3px;
   
  }


  .navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}

.navbar ul{
    overflow: auto;
}

.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
   
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
#right{
  float: right;
}

.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.navbar li a:hover{
    color: red
}



.itemImg{
  width: 20vw;
  height: 20vw;
  margin: 6px 40px;
  margin-left: 50px;
  border: 1px solid red;
  border-radius: 10px;
}
.container{
  padding: 5px 10vw;
}
.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.float{
  display: flex;
  justify-content: center;
}
.juice{
  margin-left: 65px;
  margin-right: 85px;
  margin-top: 5px;
}

.button{
  margin-left: 80px;
  margin-right: 90px;
  margin-top: 5px;
  background: lightgreen;
  border-radius: 3px;
  padding: 5px 3px;
}

.button:hover{
  background: green;
}

.back{
  background: lightcyan;
}


/*footer design*/

footer{
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 70px 0 30px;
  border-top-right-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}

.col{
  flex-basis: 25%;
  padding: 10px;
}
.category{
  margin-left: 10px;
}

.logo{
  width: 80px;
  height: 80px;
}

.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 20%;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  color: #000;
  background: #fff;
  margin-right: 25px;
}

.social-icons .fa-regular{
  width: 40px;
  height: 40px;
  border-radius: 20%;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  color: #000;
  background: #fff;
  margin-right: 25px;
}

/*css used in javasccrip to change geader color*/
.bgColor{
  background: black;

  border-bottom: 20px solod white;
}